<div class="col s4">
  <div class="card small">
    <div class="card-image waves-effect waves-block waves-light">
      <% if !crafter.profilePic_link || crafter.profilePic_link == ''  %>
        <img src="<%= asset_path('default.jpeg') %>" alt="Image" class="activator" width="313" height="235">
      <% else %>
        <%= cl_image_tag(crafter.profilePic_link) %>
      <% end %>
    </div>

    <div class="card-content">
      <div class="row">
        <a href="<%= crafter_path(crafter)%>" style = 'font-size: 1.2em; '><%= crafter.name %></a>
        <i class = "material-icons right card-title activator"> more_vert </i>
      </div>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Crafter Details<i class="material-icons right">close</i></span>
      <div class="divider"></div>
      <table>
        <tbody>
          <tr>
            <td>Crafter:</td>
            <td><%= crafter.name %></td>
          </tr>
          <tr>
            <td>Blurb:</td>
            <td><%= crafter.biography %></td>
          </tr>
          <tr>
            <td>Category:</td>
            <td><%= crafter.category.name %></td>
          </tr>
        </table>
    </div>
  </div>
</div>
