<div class='container'>
  <h4>Edit Profile</h4>
  <%= form_for @crafter do |f| %>

  <%# start input %>
  <div class="row">
    <div class="input-field col s12">
      <%= f.text_field :name %>
      <%= f.label :name, class: 'active' %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <%= f.text_area :biography, class: 'materialize-textarea' %>
      <%= f.label :biography, class: 'active' %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <%= f.text_field :profession %>
      <%= f.label :profession, class: 'active' %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <%= f.select(:category_id) do %>
        <% @categories.each do |c| -%>
          <%= content_tag(:option, c.name, value: c.id) %>
        <% end %>
      <% end %>
      <%= f.label :category_id %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <%= f.telephone_field :contact_number %>
      <%= f.label :contact_number %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <%= f.email_field :contact_email, class: 'validate' %>
      <%= f.label :contact_email %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <%= f.text_field :facebook_link %>
      <%= f.label :facebook_link %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <%= f.text_field :twitter_link %>
      <%= f.label :twitter_link %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <%= f.text_field :website_link %>
      <%= f.label :website_link %>
    </div>
  </div>
  <div class="row">
    <div class="file-field input-field col s12">
      <div class="btn">
        <span>Upload Profile Picture</span>
        <input type="file">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
      <%= f.file_field :profilePic_link %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <%= f.submit 'Confirm', class: 'waves-effect waves-light btn'%>
    </div>
  </div>
  <% end %>
</div>
