<section>
  <div >
    <h1 Modify Profile</h1>
    <h2><%= @crafter.name %></h2>
  </div>
      <dl>
      <%= form_for @crafter do |f| %>

      <%# start input %>
      <div>
        <div>
          <%= f.label :name,  %>
        </div>
        <div>
          <%= f.text_field :name%>
        </div>
      </div>
      <%# end input %>

      <%# start input %>
      <div>
        <div>
          <%= f.label :biography %>
        </div>
        <div class="field-body">
          <%= f.text_area :biography%>
        </div>
      </div>
      <%# end input %>

      <%# start input %>
      <div >
        <div >
          <%= f.label :profession%>
        </div>
        <div class="field-body">
          <%= f.text_field :profession%>
        </div>
      </div>
      <%# end input %>

      <%# start input %>
      <div >
        <div >
          <%= f.label :category_id %>
        </div>
        <div class="field-body">
          <%= f.text_field :category_id, class: 'input' %>
        </div>
      </div>
      <%# end input %>

      <%# start input %>
      <div>
        <div class="field-label is-normal">
          <%= f.label :contact_number, class: 'label' %>
        </div>
        <div class="field-body">
          <%= f.text_field :contact_number, class: 'input' %>
        </div>
      </div>
      <%# end input %>

      <%# start input %>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <%= f.label :contact_email, class: 'label' %>
        </div>
        <div class="field-body">
          <%= f.text_field :contact_email, class: 'input' %>
        </div>
      </div>
      <%# end input %>

      <%# start input %>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <%= f.label :facebook_link, class: 'label' %>
        </div>
        <div class="field-body">
          <%= f.text_field :facebook_link, class: 'input' %>
        </div>
      </div>
      <%# end input %>

      <%# start input %>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <%= f.label :twitter_link, class: 'label' %>
        </div>
        <div class="field-body">
          <%= f.text_field :twitter_link, class: 'input' %>
        </div>
      </div>
      <%# end input %>

      <%# start input %>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <%= f.label :website_link, class: 'label' %>
        </div>
        <div class="field-body">
          <%= f.text_field :website_link, class: 'input' %>
        </div>
      </div>
      <%# end input %>

      <%= f.submit 'Confirm', class: 'button is-primary'%>
      <% end %>
      </dl>
    </div>
  </div>
</section>

<pre>
  <%= @crafter.inspect %>
</pre>
