<%# Secondary Navigation bar %>
<%= render 'partials/second_nav' %>

<div class='container'>
  <h4>Edit Profile</h4>
  <%= form_for @crafter do |f| %>

  <%# start input %>
  <div>
    <div>
      <%= f.label :name %>
    </div>
    <div>
      <%= f.text_field :name %>
    </div>
  </div>
  <%# end input %>

  <%# start input %>
  <div class="file-field input-field">
    <div class="waves-effect waves-light btn btn-medium white black-text">
      <span>Upload Profile Pic</span>
      <%= f.file_field :profilePic_link %>
    </div>
    <div class="file-path-wrapper">
      <input class="file-path validate" type="text">
    </div>
  </div>
  <%# end input %>

  <%# start input %>
  <div>
    <div>
      <%= f.label :biography %>
    </div>
    <div class="field-body">
      <%= f.text_area :biography %>
    </div>
  </div>
  <%# end input %>

  <%# start input %>
  <div>
    <div>
      <%= f.label :profession %>
    </div>
    <div class="field-body">
      <%= f.text_field :profession %>
    </div>
  </div>
  <%# end input %>

  <%# start input %>
  <div>
    <div>
      <%= f.label :category_id %>
    </div>
    <div class="field-body">
      <%= f.text_field :category_id, class: 'input' %>
    </div>
  </div>
  <%# end input %>

  <%# start input %>
  <div>
    <div class="field-label is-normal">
      <%= f.label :contact_number, class: 'label' %>
    </div>
    <div class="field-body">
      <%= f.text_field :contact_number, class: 'input' %>
    </div>
  </div>
  <%# end input %>

  <%# start input %>
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= f.label :contact_email, class: 'label' %>
    </div>
    <div class="field-body">
      <%= f.text_field :contact_email, class: 'input' %>
    </div>
  </div>
  <%# end input %>

  <%# start input %>
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= f.label :facebook_link, class: 'label' %>
    </div>
    <div class="field-body">
      <%= f.text_field :facebook_link, class: 'input' %>
    </div>
  </div>
  <%# end input %>

  <%# start input %>
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= f.label :twitter_link, class: 'label' %>
    </div>
    <div class="field-body">
      <%= f.text_field :twitter_link, class: 'input' %>
    </div>
  </div>
  <%# end input %>

  <%# start input %>
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= f.label :website_link, class: 'label' %>
    </div>
    <div class="field-body">
      <%= f.text_field :website_link, class: 'input' %>
    </div>
  </div>
  <%# end input %>

  <div class="field-label is-normal" id="edit-profile-update-button">
    <%= f.submit 'Update', class: 'waves-effect waves-light btn btn-medium white black-text'%>
  </div>
  <% end %>
</div>
</div>

<pre>
  <%# @crafter.inspect %>
</pre>
