<div class="row">
  <%= image_tag ('homepage_quote1.png'), :class => 'materialboxed', :style=> 'width:30%; align-item: center; margin: auto; margin-top: 5%;' %>
  <!-- <img class="materialboxed" width="650" src="/owl1.jpg"> -->
</div>

<%# Secondary Navigation bar %>
<%= render 'partials/second_nav' %>

<div class="container" id = "all-crafters-container">
  <div class="row">
    <!-- category select -->
    <div class="col s4">
      <%= render partial: 'partials/category_filter', locals: { select_model: 'crafter' } %>
    </div>
    <!-- search input bar -->
    <div class="col s8 search-box">
      <%= render partial: 'partials/search_index', locals: { placeholder_field: 'Search crafter by name..', search_id: 'autocomplete-crafters'} %>
    </div>
  </div>

  <div class="row">
    <h5>Crafters</h5>
    <div class="col s12 cards-container" id="crafter-list">
      <%= render partial: "crafters/crafter", collection: @all_crafters %>
    </div>
  </div>
  <div class = 'row right-align'>
    <%= will_paginate @all_crafters, renderer: MaterializePagination::Rails %>
  </div>


</div>
