<div class="container">
  <div class="row right-align">
    <%= link_to "Edit", edit_crafter_path, class: "waves-effect waves-light btn btn-medium white black-text" %>
  </div>

  <div class="row">
    <div class="col s3">
      <!-- Grey navigation panel -->
      <%= cl_image_tag(@crafter.profilePic_link, :width => 150, :height => 150,
      :crop => :fill, :gravity => :face,
      :radius => :max)%>
      <div class="">
        <h5><%= @crafter.name%></h5>

      </div>
      <p><%= @crafter.biography%></p>
    </div>

    <div class="col s9">
      <!-- Teal page content  -->

      <!-- Stripe Connect Setup for Crafter -->
      <% if crafter_is_myself? %>
        <div class="card-panel">
          <h4>Stripe</h4>
          <% if current_crafter.connected? %>
            <h5>You are already connected to stripe</h5>
            <%= button_to "Deauthorize", stripe_deauthorize_path, class: 'btn waves-effect waves-light red lighten-3' %>
          <% else %>
            <%= link_to(image_tag('stripe-connect.png'), stripe_oauth_path ) %>
            <%# button_to "Connect with Stripe", stripe_oauth_path, style: "background: url(" + asset_path('stripe-connect.png') + ')'  %>
          <% end %>
        </div>
      <% end %>
      <div class="card-panel">
        Events
        <%= 'current user:' + current_user.crafter.inspect %>
        <%= 'current: ' + @crafter.inspect %>
      </div>
      <div class="card-panel">
        Portfolio
      </div>
      <div class="card-panel">
        Reviews
      </div>

    </div>
  </div>
  </div>


<pre>
  <%= @crafter.inspect %>
</pre>
