<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li>
    <% if user_signed_in? %>
      <% if is_craftee_authenticated? %>
        <%= link_to "Crafter", pages_switch_path %>
      <% elsif is_crafter_authenticated? %>
        <%= link_to "Craftee", pages_switch_path %>
      <% end %>
    <% end %>
  </li>
  <!-- <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li> -->
</ul>

<ul id="dropdown2" class="dropdown-content">
  <li>
    <%= link_to "All", events_path %>
  </li>
  <li>
    <%= link_to "New", new_event_path %>
  </li>
  <li>
    <a href="#!">three</a>
  </li>
</ul>

<!-- NAV BAR STARTS HERE -->

<nav>
  <div class="nav-fixed">
    <ul class="left hide-on-med-and-down">
      <!-- Dropdown Trigger -->
      <li>
        <a class="dropdown-button" href="#!" data-hover="true" data-belowOrigin="true" data-activates="dropdown2">
          Events<i class="material-icons right"></i>
        </a>
      </li>
    </ul>
    <ul class="right hide-on-med-and-down">
      <!-- Dropdown Trigger -->
      <li>
        <a class="dropdown-button" href="#!" data-hover="true" data-belowOrigin="true" data-activates="dropdown1">
          <% if user_signed_in? %>
            <% if is_craftee_authenticated? %>
              Craftee
            <% elsif is_crafter_authenticated? %>
              Crafter
            <% end %>
          <% end %>
          <i class="material-icons right"></i>
        </a>
      </li>
      <li>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "waves-effect waves-light btn" %>
      </li>
    </ul>
  </div>
</nav>

<div class="section">
  <% if user_signed_in? %>
    <p>
      Crafter ID: <%= current_crafter.id %>
    </p>
    <p>
      Craftee ID: <%= current_craftee.id %>
    </p>
    <p>
      Current User: <%= current_user.inspect %>
    </p>
  <% end %>
</div>
