<ul id="slide-out" class="side-nav">
  <% if user_signed_in? %>
    <% if is_crafter_authenticated? %>
        <li>
          <div class="userView">
            <a href="#!user">
              <%= link_to '#one!' do %>
                <%= image_tag('owl/owl1.jpg', :class => "circle") %>
              <% end %>
            <a href="#!name"><span class="black-text name">User<%= current_user.id %></span></a>
            <a href="#!email"><span class="black-text email"><%= current_user.email %></span></a>
            </div>
        </li>
        <li><a href="/">Home</a></li>
        <li><div class="divider"></div></li>
        <li><%= link_to "Profile", crafter_path(current_crafter.id), :class => "waves-effect" %></li>
        <li><div class="divider"></div></li>
        <li><%# link_to "Portfolio", portfolio_path(current_crafter.id), :class => "waves-effect" %></li>
        <!-- <li><div class="divider"></div></li> -->
        <li><%= link_to "My Events", event_path(current_crafter.id), :class => "waves-effect" %></li>
        <li><div class="divider"></div></li>
        <!-- <li><a class="subheader">Subheader</a></li> -->
        <li><%= link_to "Log Out", destroy_user_session_path, method: :delete, :class => "waves-effect" %></li>
      <% elsif is_craftee_authenticated? %>
        <li>
          <div class="userView">
            <a href="#!user">
              <%= link_to '#one!' do %>
                <%= image_tag('owl/owl7.jpg', :class => "circle") %>
              <% end %>
            <a href="#!name"><span class="black-text name">User<%= current_user.id %></span></a>
            <a href="#!email"><span class="black-text email"><%= current_user.email %></span></a>
            </div>
        </li>
        <li><a href="/">Home</a></li>
        <li><div class="divider"></div></li>
        <li><%= link_to "Profile", craftee_path(current_craftee.id), :class => "waves-effect" %></li>
        <li><div class="divider"></div></li>
        <li><%= link_to "Log Out", destroy_user_session_path, method: :delete, :class => "waves-effect" %></li>
      <%end %>
    <% else %>
      <div class="userView">
        <li><%= link_to 'Home', root_path, :class=> 'waves-effect black-text'%></li>
        <li><div class="divider"></div></li>
        <li><%= link_to 'Register', new_user_registration_path, :class=> 'waves-effect black-text'%></li>
        <li><div class="divider"></div></li>
        <li><%= link_to 'Log In', new_user_session_path, :class=> 'waves-effect black-text'%></li>
        <li><div class="divider"></div></li>
        <li><%= link_to 'View All Events', events_path, :class=> 'waves-effect black-text'%></li>
        <li><div class="divider"></div></li>
        <li><%= link_to 'View All Crafters', crafters_path, :class=> 'waves-effect black-text'%></li>
    </div>
    <% end %>
  </ul>


  <div class="row valign-wrapper">
    <a href="#" data-activates="slide-out" class="button-collapse">
      <i class="material-icons icon-black">menu</i>
    </a>
    <div class="col s12 l2 offset-m12">
      <% if user_signed_in? %>

        <a class="dropdown-button waves-effect waves-light btn btn-medium white black-text" href="#!" data-hover="true" data-belowOrigin="true" data-activates="dropdown1">
            <% if is_craftee_authenticated? %>
              Craftee
            <% elsif is_crafter_authenticated? %>
              Crafter
            <% end %>
        </a>

        <ul id='dropdown1' class = 'dropdown-content'>
          <li>
            <% if is_craftee_authenticated? %>
                <%= link_to "Switch to Crafter", pages_switch_path %>
            <% elsif is_crafter_authenticated? %>
                <%= link_to "Switch to Craftee", pages_switch_path %>
            <% end %>
          </li>
        </ul>
      <% else %>
      <%= link_to "Register", new_user_registration_path, :class => 'waves-effect waves-light btn btn-small white black-text' %>
      <%= link_to "Log In", new_user_session_path, :class => 'waves-effect waves-light btn btn-small white black-text' %>
      <% end %>
    </div>
  </div>




      <%# if user_signed_in? %>
          <%# link_to 'Switch User Type', pages_switch_path, :class=> 'waves-effect waves-light btn btn-small white black-text'%>
      <%# else %>
