<ul id="slide-out" class="side-nav">
  <% if user_signed_in? %>
        <li>
          <div class="userView">
            <div class="center-align">
              <%= cl_image_tag(current_crafter.profilePic_link, :width => 150, :height => 150,
              :crop => :fill, :gravity => :face,
              :radius => :max)%>
            </div>
            <a href="#!name"><span class="black-text name">Hello <%= current_crafter.name %>!</span></a>
            <a href="#!email"><span class="black-text email"><%= current_user.email %></span></a>
          </div>
          <div class="divider"></div>
        </li>
        <li><a href="/">Home</a></li>
        <li><div class="divider"></div></li>
        <li><a class="subheader">Crafter Links</a></li>
        <li><div class="divider"></div></li>
        <li><%= link_to "My Crafter Profile", crafter_path(current_crafter.id), :class => "waves-effect" %></li>
        <li><%= link_to "My Portfolio", crafter_portfolio_items_path(current_crafter.id), :class => "waves-effect" %></li>
        <li><div class="divider"></div></li>
        <li><%= link_to "New Event", new_event_path, :class => "waves-effect" %></li>
        <li><%= link_to "My Events", crafter_events_path(current_crafter.id), :class => "waves-effect" %></li>
        <li><div class="divider"></div></li>
        <li><a class="subheader">Craftee Links</a></li>
        <li><div class="divider"></div></li>
        <li><%= link_to "My Craftee Profile", craftee_path(current_craftee.id), :class => "waves-effect" %></li>
        <li><%= link_to "My Favourite Events", craftee_fav_event_path(current_craftee.id), :class => "waves-effect" %></li>
        <!-- <li><%# link_to "Portfolio", portfolio_path(current_crafter.id), :class => "waves-effect" %></li> -->
        <!-- <li><div class="divider"></div></li> -->
        <li><div class="divider"></div></li>
        <li><%= link_to "Log Out", destroy_user_session_path, method: :delete, :class => "waves-effect" %></li>
        <li><div class="divider"></div></li>
      <% elsif user_signed_in? && is_craftee_authenticated? %>
        <li>
          <div class="userView">
            <a href="#!user">
              <%= link_to '#one!' do %>
                <%= image_tag('owl/owl7.jpg', :class => "circle") %>
              <% end %>
            <a href="#!name"><span class="black-text name">User<%= current_user.id %></span></a>
            <a href="#!email"><span class="black-text email"><%= current_user.email %></span></a>
          </div>
        </li>
        <li><a href="/">Home</a></li>
        <li><div class="divider"></div></li>
        <li><%= link_to "Profile", craftee_path(current_craftee.id), :class => "waves-effect" %></li>
        <li><div class="divider"></div></li>
        <li><%= link_to "Log Out", destroy_user_session_path, method: :delete, :class => "waves-effect" %></li>
    <% else %>
      <div class="userView">
        <li><%= link_to 'Home', root_path, :class=> 'waves-effect black-text'%></li>
        <li><div class="divider"></div></li>
        <li><%= link_to 'Register', new_user_registration_path, :class=> 'waves-effect black-text'%></li>
        <li><div class="divider"></div></li>
        <li><%= link_to 'Log In', new_user_session_path, :class=> 'waves-effect black-text'%></li>
        <li><div class="divider"></div></li>
        <li><%= link_to 'View All Events', events_path, :class=> 'waves-effect black-text'%></li>
        <li><div class="divider"></div></li>
        <li><%= link_to 'View All Crafters', crafters_path, :class=> 'waves-effect black-text'%></li>
    </div>
    <% end %>
  </ul>



      <% if user_signed_in? %>
      <div class="col s11 row valign-wrapper">
        <a href="#" data-activates="slide-out" class="button-collapse">
          <i class="material-icons icon-black">menu</i>
        </a>
        <div class="col s1">
        <a class = 'waves-effect waves-light btn-floating btn-medium white' href="javascript:history.go(-1);"><i class="material-icons black-text">chevron_left</i></a>
      </div>
    </div>
      <% else %>
      <div class="col s6 row valign-wrapper">
        <a href="#" data-activates="slide-out" class="button-collapse">
          <i class="material-icons icon-black">menu</i>
        </a>
      <div class="col s6  ">
         <%# link_to "Register", '#modalRegister', :class => 'waves-effect waves-light btn btn-medium white black-text col s3', :style => 'float: right;' %>
         <%# link_to "Log In", '#modalLogin', :class => 'waves-effect waves-light btn btn-medium white black-text col s3', :style => 'float: right;' %>

        <%= link_to "Register", new_user_registration_path, :class => 'waves-effect waves-light btn btn-medium white black-text col s3', :style => 'float: right;' %>
        <%=  link_to "Log In", new_user_session_path, :class => 'waves-effect waves-light btn btn-medium white black-text col s3', :style => 'float: right;' %>
      </div>
    </div>
      <% end %>
  </div>




      <%# if user_signed_in? %>
          <%# link_to 'Switch User Type', pages_switch_path, :class=> 'waves-effect waves-light btn btn-small white black-text'%>
      <%# else %>
