<!-- event setting modal box -->
<% if my_event?(@event) %>
<%= link_to "Setting", "#edit_event", class: "modal-trigger waves-effect waves-light btn" %>

<div id="edit_event" class="modal bottom-sheet">
  <div class="modal-content">
    <!-- new session creation -->
    <div class="section">
      <h5>Create New Session</h5>
      <%= form_for :session, url: event_sessions_path(@event) do |f| %>
        <div class="input-field">
          <%= f.label :datetime_from, class: 'datepicker validate active' %>
          <%= f.datetime_field :datetime_from %>
        </div>
        <div class="input-field">
          <%= f.label :datetime_to, class: 'datepicker validate active' %>
          <%= f.datetime_field :datetime_to %>
        </div>
        <div class="input-field">
          <%= f.label :price, class: 'validate' %>
          <%= f.number_field :price %>
        </div>
        <div class="input-field">
          <%= f.label :capacity, class: 'validate' %>
          <%= f.number_field :capacity %>
        </div>
        <div class="input-field">
          <%= f.label :pax, class: 'validate' %>
          <%= f.number_field :pax %>
        </div>
        <div class="input-field">
          <%= f.submit 'Confirm', class: 'waves-effect waves-green btn'%>
        </div>
      <% end %>
    </div>
    <!-- edit event  -->
    <div class="section">
      <%= form_for @event, class: "col s12" do |f| %>
      <h5>Update <%= @event.name %></h5>

      <div class="row">
        <div class="input-field col s12">
          <%= f.text_field :name %>
          <%= f.label :name, class: 'active' %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= f.text_area :description, class: "materialize-textarea" %>
          <%= f.label :description, class: 'active' %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= f.select(:category_id) do %>
            <% categories.each do |c| -%>
              <%= content_tag(:option, c.name, value: c.id) %>
            <% end %>
          <% end %>
          <%= f.label :category_id %>
        </div>
      </div>
      <%= f.submit "Update Event", class: "modal-action modal-close waves-effect waves-green btn" %>
      <% end %>
    </div>

    <div class="divider"></div>

    <!-- update existing session -->
    <div class="section">
      <h5>Update Sessions</h5>

      <ul class="collapsible" data-collapsible="accordion">
        <% @event.sessions.each do |sess| %>
        <li>
          <div class="collapsible-header"><%= sess.datetime_from %></div>
          <div class="collapsible-body">
            <%= form_for sess, url: event_session_path(@event, sess) do |f| %>
              <div class="input-field">
                <%= f.label :datetime_from, class: 'active' %>
                <%= f.datetime_field :datetime_from %>
              </div>
              <div class="input-field">
                <%= f.label :datetime_to, class: 'active' %>
                <%= f.datetime_field :datetime_to %>
              </div>
              <div class="input-field">
                <%= f.label :price, class: 'active' %>
                <%= f.text_field :price %>
              </div>
              <div class="input-field">
                <%= f.label :capacity, class: 'active' %>
                <%= f.number_field :capacity %>
              </div>
              <div class="input-field">
                <%= f.label :pax, class: 'active' %>
                <%= f.number_field :pax %>
              </div>
              <div class="input-field">
                <%= f.submit 'Confirm', class: 'waves-effect waves-green btn'%>
                <%= link_to "Destroy", event_session_path(@event, sess), method: :delete, class: "waves-effect waves-green btn" %>
              </div>
            <% end %>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="modal-footer">
  </div>

</div>
<!-- modal box end -->
<% end %>
