<!-- left column -->
<div class="row event-show-details">
<div class="card horizontal">
  <div class="card-image">
    <!-- <img src="https://cdn.foodism.co.uk/gallery/575eb10c053d9.jpeg"> -->
    <%= cl_image_tag(@event.image_link) %>
  </div>
  <div class="card-stacked">
    <div class="card-content event-details">
      <div class="">
        <h4><%= @event.name %></h4>
        <p><%= @event.description %></p>
      </div>
      <p>by: <%= link_to @event.crafter.name, crafter_path(@event.crafter) %></p>
      <% if user_signed_in? %>
        <% if my_event? @event %>
        <div class="btn-edit">
          <a href="#edit_event" class = 'tooltipped' data-position="top" data-delay="50" data-tooltip="Update Events & Sessions"><i class = 'material-icons small'>settings</i></a>
        </div>
        <% else %>
          <%= render partial: 'events/fav_event_method', locals: {event: @event} %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
</div>

<div class="divider"></div>

<!-- show sessions -->
<div class="row">
  <h4>Upcoming Sessions</h4>
  <% if @event.sessions.empty? %>
    <p>Sorry there are no scheduled session for this event!</p>
  <% else %>
  <ul class="collapsible" data-collapsible="accordion">
    <% @event.sessions.each do |sess| %>
    <% if sess.datetime_to.future? %>
    <!-- collapsible -->
    <li>
      <div class="collapsible-header">
        <strong><%= sess.datetime_from.to_formatted_s(:rfc822) %>
          <span class="align-right"><i class="material-icons">expand_more</i></span>
        </strong>
      </div>
      <div class="collapsible-body">
        <div class="row">
            <p>
              Ends at <strong><%= sess.datetime_to.to_formatted_s(:rfc822) %></strong><br>$ <%= sess.price %><br>Capacity <%= sess.pax %> / <%= sess.capacity %></p>

              <% if user_signed_in? %>
                <% if current_craftee.sessions.include? sess %>
                  <%= render partial: 'events/join_button', locals: {
                    tooltip_notes: 'You\'ve signed up',
                    event_id: @event.id,
                    sess_id: sess.id} %>
                <% elsif check_for_clash?(sess) %>
                  <%= render partial: 'events/join_button', locals: {
                    tooltip_notes: 'You\'ve another event that clashes',
                    event_id: @event.id,
                    sess_id: sess.id} %>
                <% elsif sess.pax == sess.capacity %>
                  <%= render partial: 'events/join_button', locals: {
                    tooltip_notes: 'Session fully booked.',
                    event_id: @event.id,
                    sess_id: sess.id} %>
                <% elsif @event.crafter.id == current_crafter.id %>
                  <%= render partial: 'events/join_button', locals: {
                    tooltip_notes: 'This is your own class.',
                    event_id: @event.id,
                    sess_id: sess.id} %>
                <% else %>
                  <%= render partial: 'events/join_button', locals: {
                    tooltip_notes: 'Join us!',
                    event_id: @event.id,
                    sess_id: sess.id} %>
                <% end %>
              <% else %>
              <%= render partial: 'events/join_button', locals: {
                tooltip_notes: 'Sign up to join!',
                event_id: @event.id,
                sess_id: sess.id} %>
              <% end %>
        </div>
      </div>
    </li>
    <% end %>
    <% end %>
  </ul>
  <% end %>
</div>
<!-- end session show -->
