<!-- left column -->
<div class="row">
  <div class="col s6">
    <h2><%= @event.name %></h2>
    <p><%= @event.description %></p>
    <p>by: <%= @event.crafter.name %> with crafter id <%= @event.crafter.id %></p>
  </div>

  <%= cl_image_tag (@event.image_link), :class => 'materialboxed', :style => 'width: 313px; height: 235px;' %>


  <!-- right column -->
  <div class="col s6">
    <% @event.sessions.each do |sess| %>
    <div class="col s12 m6">
      <div class="card darken-1">
        <div class="card-content">
          <span class="card-title">
            <% if Time.now.between?(sess.datetime_from, sess.datetime_to) %>
              Ongoing
            <% else %>
              <% if sess.datetime_to.past? %>
                Over
              <% elsif sess.datetime_from.future? %>
                Happening in the future
              <% end %>
            <% end %>
          </span>
          <p>From: <%= sess.datetime_from %></p>
          <p>To: <%= sess.datetime_to %></p>
          <p>$ <%= sess.price %></p>
          <p>Capacity <%= sess.pax %>/<%= sess.capacity %></p>
        </div>
        <div class="card-action">
          <!-- check if craftee alrdy signed up for session -->
          <% if user_signed_in? %>
            <% if current_craftee.sessions.include? sess %>
              <p class="blue-text">YOU SIGNED UP LIAO LEH, SIGN UP AGAIN AH?</p>
            <% elsif check_for_clash?(sess) %>
              <p class="blue-text">YOUR OTHER EVENT GOT CLASH LEH</p>
            <% end %>
          <% end %>

          <% unless sess.datetime_to.past? %>
            <%= link_to "Join!", new_event_booking_path(@event.id, session: sess.id), class: "waves-effect waves-light blue-grey darken-4 btn pulse" %>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>

</div>
