<div class="row">
  <div class="card-panel col s12" id = 'reviewsCard'>
    <h5>Reviews</h5>
    <div class="divider"></div>
    <% @event.reviews.each do |review| %>
    <div class="row">
      <div class="col s2" >
        <div class="center-align vertical-align">
          <%= cl_image_tag(Crafter.find(review.craftee.user.crafter).profilePic_link, :width => 50, :height => 50, :crop => :fill, :gravity => :face,
          :radius => :max)%>
          <p><%=Craftee.find(review.craftee_id).name %></p>
        </div>
      </div>
      <div class="col s10">
        <%=review.description%>
      </div>
    </div>
    <div class='divider'></div>
    <% end %>
  </div>
<div class="divider"></div>
    <div class="card-panel">
      <h5>Add New Review</h5>
      <div class="section">
        <%= form_for ([@event, @event.reviews.build]) do |f| %>
        <div class="row">
          <div class="input-field col s12">
            <%= f.text_area :description, class: "materialize-textarea" %>
            <%= f.label :description %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <%= f.submit "Add Review", class: "waves-effect waves-light btn white black-text" %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <div class="divider"></div>

</div>
