<div class="row">
  <h4>Reviews   <a class = 'waves-effect waves-light btn-floating btn-medium white tooltipped' data-position="right" data-delay="50" data-tooltip="Create New Review" href='#modal1'><i class="material-icons black-text">thumbs_up_down</i></a>
  </h4>
  <% if @event.reviews.empty? %>
    <p>Sorry, there are no reviews for this event yet! Leave one :)</p>
  <% else %>
  <div class="card-panel col s12" id = 'reviewsCard'>
    <% @event.reviews.each do |review| %>
    <% if review.craftee %>
    <div class="row review-card">
      <div class="col s2" >
        <div class="center-align vertical-align">
          <%= cl_image_tag(review.craftee.user.crafter.profilePic_link, :width => 50, :height => 50, :crop => :fill, :gravity => :face,
          :radius => :max)%>
          <p class='center-align'><%= link_to review.craftee.user.crafter.name, crafter_path(review.craftee.user.crafter) %></p>
        </div>
      </div>
      <div class="col s8">
        <%=review.description%>
      </div>
      <% if review.craftee_id == current_craftee.id %>
      <div class="col s2">
        <a class = 'btn-floating btn-medium white black-text' data-method = 'delete' href="<%= event_review_path(@event.id, review.id) %>"><i class="material-icons icon-black">delete</i></a>
      </div>
      <% end %>
    </div>
    <% end %>
    <div class='divider'></div>
    <% end %>
  </div>
  <% end %>
</div>
<!-- add new review modal box -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <!-- Add New Review Form -->
    <!-- <div class="card-panel"> -->
    <h5>Add New Review</h5>
    <div class="section">
      <%= form_for ([@event, @event.reviews.build]) do |f| %>
      <div class="row">
        <div class="input-field col s12">
          <%= f.text_area :description, class: "materialize-textarea" %>
          <%= f.label :description %>
        </div>
      </div>
      <div class="modal-footer">
        <div class="input-field col s12">
          <%= f.submit "Add Review", class: "waves-effect waves-light btn white black-text" %>
        </div>
      </div>
    </div>
    <!-- </div> -->
  </div>
  <% end %>
</div>
