<div class="section">
  <%= form_for @event, class: "col s12" do |f| %>
  <h5>Update <%= @event.name %></h5>

  <div class="row">
    <div class="input-field col s12">
      <%= f.text_field :name %>
      <%= f.label :name, class: 'active' %>
    </div>
  </div>

  <div class="row">
    <div class="file-field input-field col s12">
      <div class="waves-effect waves-light btn white black-text">
        <span>Upload File</span>
        <%= f.file_field :image_link %>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= f.text_area :description, class: "materialize-textarea" %>
      <%= f.label :description, class: 'active' %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <%= f.select(:category_id) do %>
        <% @categories.each do |c| -%>
          <%= content_tag(:option, c.name, value: c.id) %>
        <% end %>
      <% end %>
      <%= f.label :category_id %>
    </div>
  </div>
  <%= f.submit "Update Event", class: "modal-action modal-close waves-effect waves-green btn" %>
  <% end %>
</div>
