<div class="row">
  <%= image_tag ('homepage_quote1.png'), :class => 'materialboxed', :style=> 'width:30%; align-item: center; margin: auto; margin-top: 5%;' %>
  <!-- <img class="materialboxed" width="650" src="/owl1.jpg"> -->
</div>

<%# Secondary Navigation bar %>
<%= render 'partials/second_nav' %>

  <div class="container">
    <div class="row">
      <!-- category select -->
      <div class="col s4">
        <%= render partial: 'partials/category_filter', locals: { select_model: 'event' } %>
      </div>
      <!-- search input bar -->
      <div class="col s8 search-box">
        <%= render partial: 'partials/search_index', locals: { placeholder_field: 'Search event or crafter by name..', search_id: 'autocomplete-events'} %>
      </div>
    </div>
    <!-- end -->
    <%# maybe move new event link to first nav? %>
    <div class="row">
      <% if user_signed_in? %>
        <%= link_to "New Event", new_event_path, class: "waves-effect waves-light btn" %>
      <% end %>
    </div>
    <%# individual event card will be rendered as partial below %>
    <div class="row">
      <div class="col s12 cards-container" id="event-list">
        <%= render partial: "events/event", collection: @all_events %>
      </div>
    </div>
    <%# end card render %>
    <div class = 'row right-align' id="event-list-paginate">
      <%= will_paginate @all_events, renderer: MaterializePagination::Rails %>
    </div>
</div>
