<div class="row">
  <%= image_tag ('homepage_quote1.png'), :class => 'materialboxed', :style=> 'width:30%; align-item: center; margin: auto; margin-top: 5%;' %>
  <!-- <img class="materialboxed" width="650" src="/owl1.jpg"> -->
</div>


<%# Secondary Navigation bar %>
<%= render 'partials/second_nav' %>

  <div class="container">
    <!-- category select -->
    <div data-no-transition-cache class="row">
      <div class="col s4">
        <%= select "event", "category_id",
              options_from_collection_for_select(@categories, 'id', 'name'),
                {
                  include_blank: 'All',
                  prompt: 'Find From Category'
                },
              class: 'categories_select'
        %>
      </div>
      <div class="col s8 search-box" id="search-events">
        <%= text_field_tag 'search', nil, {placeholder: 'Search for event or crafter', id: 'autocomplete'} %>
        <div class="z-depth-3" id="search-item-list">
          <!-- search item list will be populated here -->
        </div>
      </div>
    </div>
    <!-- end -->
    <div class="row">
      <% if user_signed_in? %>
        <% if is_crafter_authenticated? %>
          <%= link_to "New Event", new_event_path, class: "waves-effect waves-light btn" %>
        <% end %>
      <% end %>
    </div>

  <div class="row">
      <div class="col s12 cards-container" id="event-list">
        <%= render partial: "events/event", collection: @all_events %>
      </div>
</div>
