<%# Secondary Navigation bar %>
<%= render 'partials/second_nav' %>

<div class="container">
    <h1>New Event</h1>
    <div class="section">
      <%= form_for @new_event, class: "col s12" do |f| %>
        <div class="row">
          <div class="input-field col s12">
            <%= f.text_field :name %>
            <%= f.label :name %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <%= f.text_area :description, class: "materialize-textarea" %>
            <%= f.label :description %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <%= f.number_field :category_id, class: "validate" %>
            <%= f.label :category_id %>
          </div>
        </div>
        <div class="row">
          <div class="file-field input-field col s12">
            <div class="btn">
              <span>Upload Event Picure</span>
              <input type="file">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text">
            </div>
            <%= f.file_field :image_link %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <%= f.submit "Confirm", class: "waves-effect waves-light btn" %>
          </div>
        </div>
      <% end %>
    </div>
</div>
