<h1>Page for craftee to edit craftee profile</h1>

<div class="container">
      <div class="row">
        <%= form_for @craftee do |f| %>
        <div class="row">
          <div class="input-field col s12">
            <%= f.text_field :name, id: "name" %>
            <%= f.label :name, id: 'name'%>
          </div>
        <%= f.submit 'Confirm', class: 'waves-effect waves-teal btn-flat', type:"submit"%>
        <% end %>
    </div>
</div>

 <pre>
   <%= @new_craftee.inspect %>
 </pre>
