<div class="row whichcraftImage">
  <div class="center">
    <%= link_to(image_tag('homepage_quote1.png', :class => '', :style=> 'width:30%; align-item: center; margin: auto; margin-top: 5%;'), '/') %>
  </div>
  <!-- <img class="materialboxed" width="650" src="/owl1.jpg"> -->
</div>

<%# Secondary Navigation bar %>
<%= render 'partials/second_nav' %>

<div class="container">
  <h5 class='featured_events_h4'>Featured Events</h5>

  <div class="row">

  </div>

<div class="row">
  <div class="carousel valign-wrapper">
    <a style = 'cursor:pointer'><i class="small material-icons black-text" id = "carouselPrevButton">chevron_left</i></a>

      <% @all_events_pagesC.each do|feat_event| %>
      <%= link_to event_path(feat_event.event.id), class: 'carousel-item' do %>
      <%= cl_image_tag(feat_event.media_link, class: 'imageCarousel')%>

      <% end %>
      <p style = 'display: hide'></p>
      <% end %>
      <div class="col s1 offset-s11">
        <a style = 'cursor:pointer;'><i class="small material-icons black-text" id = 'carouselNextButton'>chevron_right</i></a>

      </div>

  </div>
</div>


<div class="divider"></div>

  <h5 class='featured_events_h4'>Featured Crafters</h5>
  <br /><br />
  <div class="row">
  <% @all_crafters_pagesC.each do |feat_crafter| %>
  <div class="col s4">
    <div class="center promo promo-example">
      <a href = '<%= crafter_path(feat_crafter.crafter) %>'>
        <%= cl_image_tag(feat_crafter.media_link, :style => 'width: 200px; height: 200px; border-radius: 100%; ') %>
        <!-- Promo Content 1 goes here -->
        <p class = 'promo-caption center-align'><%= feat_crafter.crafter.name%></p>
        <p class = 'light center'><%= feat_crafter.description%></p>

      </a>
    </div>
  </div>
  <% end %>
</div>




</div>






<script type="text/javascript">
window.onscroll = function () { scrollFunction()}

function scrollFunction () {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    document.getElementById('tpBtn').style.display = 'block'
  } else {
    document.getElementById('tpBtn').style.display = 'none'
  }
}
</script>
