<div class="row whichcraftImage">
  <div class="center">
    <%= link_to(image_tag('homepage_quote1.png', :class => '', :style=> 'width:30%; align-item: center; margin: auto; margin-top: 5%;'), '/') %>
  </div>
  <!-- <img class="materialboxed" width="650" src="/owl1.jpg"> -->
</div>

<%# Secondary Navigation bar %>
<%= render 'partials/second_nav' %>

<div class="container">
  <h5 class='featured_events_h4'>Featured Events</h5>
<div class="row" id='feaevent-container'>
  <div class='carousel-nav'>
    <i  id='carouselPrevButton' class="small material-icons black-text">chevron_left</i>
  </div>
  <div class="carousel">
      <% @all_events_pagesC.each do|feat_event| %>
        <%= link_to event_path(feat_event.event.id), class: 'carousel-item' do %>
        <%= cl_image_tag(feat_event.media_link, class: 'imageCarousel')%>

        <% end %>
      <% end %>
  </div>
  <div class='carousel-nav'>
      <i id='carouselNextButton' class="small material-icons black-text">chevron_right</i>
  </div>
</div>
<div class="divider"></div>
<div class="">
  <h5>Featured Crafters</h5>
</div>
<div class="row">
  <% @all_crafters_pagesC.each do |feat_crafter| %>
  <div class="col s4 crafter-promo">
    <div class="crafter-promo-image">
      <a href = '<%= crafter_path(feat_crafter.crafter) %>'>
        <%= cl_image_tag(feat_crafter.media_link) %>
        <!-- Promo Content 1 goes here -->
      </a>
    </div>
    <div class="flex-content">
      <div class="">
        <%= link_to feat_crafter.crafter.name, crafter_path(feat_crafter.crafter), class: 'promo-caption center' %>
      </div>
    </div>
    <div class="flex-content">
      <div class="">
        <p class='light center'><%= feat_crafter.description%></p>
      </div>
    </div>
  </div>
  <% end %>
</div>
</div>

<script type="text/javascript">
window.onscroll = function () { scrollFunction()}

function scrollFunction () {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    document.getElementById('tpBtn').style.display = 'block'
  } else {
    document.getElementById('tpBtn').style.display = 'none'
  }
}
</script>
