<h4 class='center featured_events_h4'>Featured Events</h4>
<div class="carousel">
  <%= link_to '#one!', class: 'carousel-item' do %>
    <%= image_tag('owl/owl1.jpg') %>
  <% end %>
  <%= link_to '#two!', class: 'carousel-item' do %>
    <%= image_tag('owl/owl2.jpg') %>
  <% end %>
  <%= link_to '#three!', class: 'carousel-item' do %>
    <%= image_tag('owl/owl3.jpg') %>
  <% end %>
  <%= link_to '#four!', class: 'carousel-item' do %>
    <%= image_tag('owl/owl4.jpg') %>
  <% end %>
  <%= link_to '#four!', class: 'carousel-item' do %>
    <%= image_tag('owl/owl5.jpg') %>
  <% end %>
  <%= link_to '#four!', class: 'carousel-item' do %>
    <%= image_tag('owl/owl6.jpg') %>
  <% end %>
  <%= link_to '#four!', class: 'carousel-item' do %>
    <%= image_tag('owl/owl7.jpg') %>
  <% end %>
  <%= link_to '#four!', class: 'carousel-item' do %>
    <%= image_tag('owl/owl8.jpg') %>
  <% end %>
</div>
