<div class="container">

<h3>Forgot Your Password?</h3>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="row">
    <div class="input-field col s12">
      <div>
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <div class="actions">
        <%= f.submit "Send Password Reset Instructions", :class => 'waves-effect waves-light btn btn-small white black-text' %>
      </div>
    </div>

  </div>
  <% end %>

  <%= render "users/shared/links" %>
</div>
