<div class="row">
  <%= image_tag ('homepage_quote1.png'), :class => 'materialboxed', :style=> 'width:30%; align-item: center; margin: auto; margin-top: 5%;' %>
  <!-- <img class="materialboxed" width="650" src="/owl1.jpg"> -->
</div>

<%# Secondary Navigation bar %>
<%= render 'partials/second_nav' %>

  <div class="container" id = "all-portfolio-items-container">
    <%# link_to "New Crafter", new_crafter_path, class: "button is-primary" %>
    <h5>Works</h5>
    <div class="row">
      <div class="col s12">
        <% @all_portfolio_items.each do |portfolio_item| %>
        <div class="col s4">
          <div class="card small">
            <div class="card-image waves-effect waves-block waves-light">
              <!-- <img src="<%# portfolio_item.media_link && portfolio_item.media_link != '' ? asset_path(portfolio_item.media_link) : asset_path('default_event.png') %>" alt="Image" class="activator materialboxed" width="313" height="235"></td> -->
              <%= cl_image_tag (portfolio_item.media_link), :class => 'materialboxed', :style => 'width: 313px; height: 235px;' %>
              <!-- <img src="<%# asset_path(portfolio_item.media_link) %>" alt="Image" class='activator'></td> -->
            </div>
            <div class="card-content">
              <div class="row">
                <p style = 'font-size: 1.0em; '><%= portfolio_item.description %></p>
                <a href="<%=crafter_path(portfolio_item.crafter.id)%>"><%= Crafter.find(portfolio_item.crafter).name%></a>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>

    <div class = 'row right-align'>
      <%= will_paginate @all_portfolio_items, renderer: MaterializePagination::Rails %>
    </div>



  </div>
