<%# Secondary Navigation bar %>
<%= render 'partials/second_nav' %>

<div class="container">
<% if crafter_is_myself? %>
  <div class="row right-align">
    <a class="waves-effect waves-light btn-floating btn-medium white" href="#modalCreate"><i class='material-icons black-text'>add</i></a>
  </div>
<% end %>

  <!-- Modal Structure for Creating New Portfolio Item -->
  <div id="modalCreate" class="modal">
    <div class="modal-content">
      <h5>Create New Portfolio Item</h5>
      <%= render 'portfolio_items/newItemForm' %>
    </div>
    <div class="modal-footer">
    </div>
  </div>

    <div class="row">
      <div class="col s12">
        <% @crafter.portfolio_items.each do |portfolio_item| %>
        <% if portfolio_item.id %> <!-- if starts -->
        <%# if my_portfolio_item?(portfolio_item) %>
        <div class="col s4">

          <div class="card medium">
            <div class="card-image">
              <div class="card-image waves-effect waves-block waves-light crafters-portfolio">
                <%= cl_image_tag(portfolio_item.media_link)%>
              </div>
            </div>
            <div class="card-content">
              <a class="waves-effect waves-light btn-small black-text white" href="#modal<%= portfolio_item.id %>"><%=portfolio_item.description%></a>
              </div>
              <div class="card-action">
                <a href="<%= edit_crafter_portfolio_item_path(@crafter, portfolio_item)%>" style = 'float: right;'><i class = 'material-icons'>edit</i></a>
                <a href="<%= crafter_portfolio_item_path(@crafter.id, portfolio_item.id)%>" data-method = 'delete' style = 'float: right;'><i class = 'material-icons'>delete</i></a>
              </div>
            </div>
        </div>

            <!-- Modal Box -->
            <div id="modal<%= portfolio_item.id %>" class="modal">
              <div class="modal-content">
                <%= cl_image_tag(portfolio_item.media_link)%>
                <h4>Description</h4>
                <%= render 'crafters/showDescrip', thePortfolio: portfolio_item %>
              </div>
           </div>

          <% end %> <!-- if end -->
        <% end %>
         </div>
  </div>


</div>
