<!DOCTYPE html>
<html>
  <head>
    <title>WdiProject3TheDreamTeam</title>
    <%= csrf_meta_tags %>
    <%= include_gon %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>
  <div class="container body_container">

  <body>
    <%# Navigation bar %>
    <%= render "partials/nav" %>


    <%# Extra navbar for controller testing %>
    <%# render "partials/navtesttom" %>


    <!-- Devise Alert Messages -->
      <% if notice %>
        <div class="row">
          <div class="notice center"><%= notice %></div>
          <% end %>
        </div>
      <% if alert %>
        <div class="row">
          <div class="alert center"><%= alert %></div>
        </div>
        <% end %>

    <%= yield %>

    <div class="section">
      <% if user_signed_in? %>
        <p>
          Crafter ID: <%= current_crafter.id %>
        </p>
        <p>
          Craftee ID: <%= current_craftee.id %>
        </p>
        <p>
          Current User: <%= current_user.inspect %>
        </p>
      <% end %>
    </div>
</html>
