<!DOCTYPE html>
<html>
  <head>
    <title>WdiProject3TheDreamTeam</title>
    <%= csrf_meta_tags %>
    <%= include_gon %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://checkout.stripe.com/checkout.js' %>
    <%= favicon_link_tag 'favicon.ico' %>
    <% if current_page?(events_path || crafters_path ) %>
    <%# remove turbolink caching for events_path to prevent nonsense stuff when back button pressed %>
    <meta name="turbolinks-cache-control" content="no-cache">
    <% end %>
  </head>


  <body>
    <div class="container body_container">
    <%# Navigation bar %>
      <%= render "partials/nav" %>
    </div>

    <%# Extra navbar for controller testing %>
    <%# render "partials/navtesttom" %>


    <!-- Devise Alert Messages -->
    <div class="container">
      <% if notice %>
      <div class="row card-panel">
        <div class="notice center"><%= notice %></div>
        <% end %>
      </div>
      <% if alert %>
      <div class="row card-panel">
        <div class="alert center"><%= alert %></div>
      </div>
      <% end %>
    </div>

    <%= yield %>

    <!-- <div class="section">
      <%# if user_signed_in? %>
        <p>
          Crafter ID: <%# current_crafter.id %>
        </p>
        <p>
          Craftee ID: <%# current_craftee.id %>
        </p>
        <p>
          Current User: <%# current_user.inspect %>
        </p>
      <%# end %>
    </div> -->
  </body>
</html>
